* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    transition: .2s .2s all;
    transition-timing-function: linear;
}

html{
    scroll-behavior: smooth;
}

.contener {
    width: 100%;
    height: 100%;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

@media(max-width:1250px) {
    .contener {
        padding-right: 100px;
        padding-left: 100px;
    }
}


@media(max-width:768px) {
    .contener {
        padding-right: 75px;
        padding-left: 75px;
    }
}


.active {
    background-color: red !important;
}

.sub-header {
    width: 100%;
    height: 180px;
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: lighter;
}

.sub-header h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.sub-header p {
    font-size: smaller;
    font-weight: lighter;
    line-height: 1.4;
}



@keyframes moving-left {

    0% {
        margin-left: -200px;
        opacity: 40%;
    }

    20% {
        margin-left: -150px;
        opacity: 50%;
    }

    40% {
        margin-left: -100px;
        opacity: 70%;
    }

    70% {
        margin-left: -50px;
        opacity: 90%;
    }

    80% {
        opacity: 100%;
    }

    100% {
        margin-left: 0;
        opacity: 100%;
    }
}


@keyframes moving-up {

    0% {
        margin-top: 200px;
        opacity: 40%;
    }

    20% {
        margin-top: 150px;
        opacity: 50%;
    }

    40% {
        margin-top: 100px;
        opacity: 70%;
    }

    70% {
        margin-top: 50px;
        opacity: 90%;
    }

    80% {
        opacity: 100%;
    }

    100% {
        margin-top: 0;
        opacity: 100%;
    }
}

/* ===================================================================================================== */
/* start home page */

.home-page {
    width: 100%;
    height: 100vh;
    background-position: 10%;
    background-image: url("../tem2imgs/banner-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width:576px) {
    .home-page {
        background-position: 50%;
    }
}

@media(max-width:768px) {
    .home-page {
        background-position: 40%;
    }
}

@media(max-width:992px) {
    .home-page {
        background-position: 30%;
    }
}

@media(max-width:1250px) {
    .home-page {
        background-position: 20%;
    }
}

/* ===================================================================================================== */
/* start header */
.home-page .header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 20px;
}

.home-page .header .contener {
    padding: 10px;
    width: auto;
    margin: 0 200px;
    background-color: white;
    display: flex;
    border-radius: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

@media(max-width:1250px) {
    .home-page .header .contener {
        margin: 0 100px;
    }
}

@media(max-width:768px) {
    .home-page .header .contener {
        margin: 0 75px;
    }
}

.home-page .header .contener .logo {
    width: 128px;
    margin-top: 5px;
}

.home-page .header .contener .logo img {
    width: 80%;
}

.home-page .header .list-botum {
    width: 30px;
    height: 30px;
    position: relative;
    right: 0;
    margin-right: 20px;
    margin-top: 5px;
    display: none;
}

.home-page .header .list-botum span {
    display: inline-block;
    width: 100%;
    height: 10px;
    border-bottom: solid 2px black;
}

.list-botum::before {
    content: "";
    width: 80%;
    height: 100%;
    position: absolute;
    top: -95%;
    border-bottom: 2px solid black;
}

.list-botum::after {
    content: "";
    width: 80%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: -20%;
    border-bottom: 2px solid black;
}

.home-page .header .list {
    display: inline-block;
    padding-top: 5px;
    margin-left: auto;
}

.home-page .header ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 5px;
}

.home-page .header ul li {
    display: inline-block;
    padding: 0 10px;
    color: #757575;
    font-weight: lighter;
}

@media(max-width:1200px) {
    .home-page .header ul li {
        font-size: smaller;
    }
}

.home-page .header ul li a {
    font-size: smaller;
}

.header ul li .active {
    color: red;
    background-color: transparent !important;
}

.home-page .header ul li:hover a {
    color: red;
}

@media(max-width:850px) {

    .home-page .header .contener {

        position: relative;
    }

    .home-page .header .list-botum {
        display: inline-block;
    }

    .home-page .header .contener .list {
        width: 100%;
        position: absolute;
        background-color: white;
        border-radius: 0 0 40px 40px;
        left: 0%;
        top: 54%;
        height: 268px;
        padding-top: 30px;
        display: none;
    }

    .home-page .header .contener ul {
        display: block;
        margin: 0;
        border-radius: 0 0 40px 40px;
    }


    .home-page .header ul li {
        width: 100%;
        display: block;
        color: black;
        text-align: center;
        padding: 9px 0;
        border-top: #757575 solid 1px;
    }

    .home-page .header ul li:hover {
        background-color: #dfdbdb;
    }

    .home-page .header ul li:last-child {
        border-radius: 0 0 40px 40px;
    }

    .home-page .header .list-botum:hover~.list {
        display: block;
    }

    .home-page .header .list-botum:hover:before {
        transform-origin: 50%;
        width: 100%;
        top: -61%;
        left: -45%;
        transform: rotate(-45deg);
        z-index: 99;
    }

    .home-page .header .list-botum:hover span {
        border: none;
    }

    .home-page .header .list-botum:hover:after {
        transform: rotate(45deg);
        z-index: 99;
        width: 100%;
        left: 30%;
        top: -57%;
    }
}

/* end header */
/* ===================================================================================================== */
/* start content  */
.home-page .content .contener {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    padding-top: 235px;
    text-align: center;
}

@media(max-width:850px) {
    .home-page .content .contener {
        padding-top: 350px;
    }
}

@media(max-width:576px) {
    .home-page .content .contener {
        padding-top: 235px;
    }
}

.home-page .content .contener .h3 {
    font-size: 27px;
    width: 100%;
    margin-bottom: 20px;
}

.home-page .content .h3 h3:last-child {
    margin-top: 0px;
}

.home-page .content .p {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 13px;
}

.home-page .content .a {
    width: 100%;
}

.home-page .content .a a {
    display: block;
    font-size: 12px;
    margin: 20px auto;
    width: 140px;
    padding: 10px 10px 0px;
    text-align: center;
    height: 35px;
    border-radius: 20px;
    background-color: red;
    color: white;
    transition-duration: .3s;
}

.home-page .content .a a:hover {
    background-color: #673AB7;
}

/* end content */
/* ===================================================================================================== */
/* start features */
.features {
    width: 100%;
    height: 250px;
    height: fit-content;
}

.features .contener {
    margin-top: -160px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features .contener .box {
    width: 30%;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: -1px 7px 20px 2px #757575
}

@media(min-width:1200px) {
    .features .contener .box {
        animation-name: moving-up;
        animation-duration: 5s;
        animation-delay: 0s;
        animation-timing-function: linear;
    }
}

@media(max-width:850px) {

    .features .contener {
        margin-top: 0;
    }

    .features .contener .box {
        height: fit-content;
        width: 45%;
        margin-bottom: 45px;
    }
}

@media(max-width:550px) {
    .features {
        height: 700px;
    }

    .features .contener {
        justify-content: center;
    }

    .features .contener .box {
        width: 95%;
    }
}

.features .contener .img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #673AB7;
}

.features .contener div .img img {
    width: 65%;
    margin: 12px;
}

.features .contener .box h4 {
    margin: 20px 0;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 1.2px;
}

.features .contener .box p {
    font-size: 10px;
    color: #777;
    margin: 10px 0;
    letter-spacing: .5px;
    text-align: center;
}

.features .contener .box:hover .img {
    background-color: red;
    transition: .3s;
}

.features .contener .box .img:hover {
    background-color: red;
    transition: .3s;
    cursor: pointer;
}

.features .contener .box:hover {
    cursor: pointer;
}

/* end features */
/* ===================================================================================================== */
/* start about */
.about {
    width: 100%;
    height: fit-content;
    padding-bottom: 40px;
    margin: 50px 0;
}

.about .contener .box {
    width: 85%;
    display: flex;
    height: 230px;
    padding: 20px;
    margin: 100px auto;
    justify-content: space-between;
}

.about .contener .box:last-child {
    flex-direction: row-reverse;
}

.about .contener hr {
    width: 100%;
    margin: 10px auto;
}

.about .contener .box .img {
    width: 30%;
}

@media(min-width:1200px) {
    .about .contener .box .img {
        animation-name: moving-left;
        animation-duration: 5s;
        animation-delay: 0s;
        animation-timing-function: linear;
    }
}

.about .contener .box .img img {
    height: 200px;
}

.about .contener .content {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.about .contener .content h3 {
    margin-bottom: 40px;
    font-weight: lighter;
}

.about .contener .content p {
    color: #777;
    font-size: smaller;
    line-height: 1.5;
}

@media(max-width:700px) {
    .about .contener .box {
        flex-direction: column;
        margin: 0;
        width: 100%;
        height: fit-content;
    }

    .about .contener .box:last-child {
        flex-direction: column-reverse;
    }

    .about .contener .box .img {
        width: 100%;
    }

    .about .contener .box .img img {
        margin: 0 25%;
    }

    .about .contener .content {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }

    .about .contener .content h3 {
        margin-top: 10px
    }
}

@media(max-width:450px) {
    .about .contener .box .img img {
        margin: 0;
    }
}

/* end about */
/* ===================================================================================================== */
/* start work process */
.Work-Process {
    width: 100%;
    height: 60vh;
    background-image: url("../tem2imgs/work-process-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.Work-Process .contener .sub-header {
    color: white;
}

.Work-Process .contener .content {
    display: flex;
    width: 100%;
    height: 60%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Work-Process .contener .content .box {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 10px;
    width: 15%;
    height: 60%;
    border-radius: 20px;
    box-shadow: 9px 7px 1px 5px #e0e0e05e;
    transition: .3s;
}

@media(max-width:850px) {

    .Work-Process {
        height: auto;
    }

    .Work-Process .contener .content {
        align-content: space-around;
        padding-bottom: 10px;
        margin-top: 35px;
    }

    .Work-Process .contener .content .box {
        width: 30%;
        margin: 10px auto;
        height: auto;
    }
}

@media(max-width:576px) {
    .Work-Process .contener .content .box {
        width: 45%;
    }
}

.Work-Process .contener .content .box img {
    width: 25px;
    margin: 10px auto;
}

.Work-Process .contener .content .box a {
    margin-bottom: 5px;
}

.Work-Process .contener .content .box p {
    color: #777;
    font-size: smaller;
}

.Work-Process .contener .content .box:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

/* end work process */
/* ===================================================================================================== */
/* start Testimonials */
.Testimonials {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}

.Testimonials .contener .sub-header {
    color: black;
}

.Testimonials .contener .sub-header p {
    color: #757575;
}

.Testimonials .contener .content {
    margin-top: 40px;
    width: 100%;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Testimonials .contener .content .box {
    width: 30%;
    height: fit-content;
    background-color: white;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 1px #757575;
    transition: all 0.5s ease;
}

.Testimonials .contener .content .box p {
    font-size: smaller;
    color: #757575;
    line-height: 1.4;
    margin: 15px auto;
}

.Testimonials .contener .content .box .img img {
    margin-top: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.Testimonials .contener .content .box .under-box {
    display: flex;
    font-size: smaller;
    font-weight: lighter;
}

.Testimonials .contener .box .under-box .picture {
    width: 35%;
    height: 100%;
    display: flex;
}

.Testimonials .contener .box .under-box .picture span {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: #a6a4a4;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    font-size: smaller;
    color: #757575;
}

.Testimonials .contener .content .box .under-box div:last-child div:last-child {
    color: red;
}

.Testimonials .contener .content .box:hover .under-box div:last-child {
    transform: translateX(10px);
}

.Testimonials .contener .content .box:hover .under-box div:last-child div:last-child {
    transform: translateX(-3px);
}

@media(max-width:1024px) {

    .Testimonials .contener .content .box {
        width: 45%;
        height: fit-content;
        margin-bottom: 40px;
    }
}

@media(max-width:750px) {
    .Testimonials .contener .content .box {
        width: 100%;
    }
}

/*  end Testimonials */
/* ===================================================================================================== */
/* start pricing tables */
.Pricing-Tables {
    width: 100%;
    height: 700px;
    background-color: #E1F5FE;
}

.Pricing-Tables .contener .sub-header {
    color: black;
    padding-top: 50px;
}

.Pricing-Tables .contener .sub-header p {
    color: #757575;
}

.Pricing-Tables .contener .content {
    display: flex;
    height: 79.5%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Pricing-Tables .contener .content .box {
    width: 30%;
    height: fit-content;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    box-shadow: 1px 1px 20px 0px #f5f5f56e;
}

.Pricing-Tables .contener .content .box .pric-box {
    width: 90%;
    background-color: #673AB7;
    border-radius: 20px;
    color: white;
    height: 65px;
    margin: 0 auto;
}

.Pricing-Tables .contener .content .box .pric-box .currency-pric {
    margin: 6px auto;
    width: fit-content;
    position: relative;
}

.Pricing-Tables .contener .content .box .pric-box .currency {
    font-size: 30px;
    text-align: center;
    display: inline-block;
}

.Pricing-Tables .contener .content .box .pric-box .pric {

    text-align: center;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.Pricing-Tables .contener .content .box .pric-box .currency-pric::before {
    content: "monthly";
    position: absolute;
    top: 73%;
    left: 4%;
}

.Pricing-Tables .contener .content .box a {
    width: 100%;
    height: 65px;
    background-color: #673AB7;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0;
    color: white;
    font-weight: lighter;
    position: relative;
}

.Pricing-Tables .contener .content .box span {
    text-align: center;
    margin-bottom: 10px;
}

.Pricing-Tables .contener .content .box a {
    width: 60%;
    height: 35px;
    padding: 10px 0;
    align-self: center;
    font-size: 12px;
}

.Pricing-Tables .contener .content .box a:hover {
    background-color: red;
    cursor: pointer;
}

.Pricing-Tables .contener .content .box ul li {
    color: #757575;
    margin: 15px 0;
    text-align: center;
    font-size: smaller;
}

@media(max-width:1024px) {

    .Pricing-Tables {
        height: 1100px;
    }

    .Pricing-Tables .contener .content .box {
        width: 45%;
        margin-bottom: auto;
    }
}

@media(max-width:750px) {
    .Pricing-Tables {
        height: 1500px;
    }

    .Pricing-Tables .contener .content .box {
        width: 100%;
    }

    .Pricing-Tables .contener .content .box .pric-box {
        width: 80%;
    }
}

/* end pricing tables */
/* ===================================================================================================== */
/* achievements */
.achievements {
    width: 100%;
    height: 300px;
    background-image: url("../tem2imgs/fun-facts-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.achievements .contener {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.achievements .contener>div {
    height: 70%;
    width: 12%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.achievements .contener .will-go-up span:last-child {
    font-size: 15px;
    margin-top: 5px;
}

.achievements .contener .will-go-up:hover {
    transform: translateY(-20px);
}

@media(max-width:850px) {

    .achievements {
        height: 400px;
    }

    .achievements .contener .img {
        display: none;
    }

    .achievements .contener .will-go-up {
        width: 40%;
        height: 50%;
        font-size: 25px;
    }
}

/* end achievements */
/* ===================================================================================================== */
/* start Blog-Entries  */
.Blog-Entries {
    width: 100%;
    height: fit-content;
}

.Blog-Entries .contener .sub-header p {
    color: #757575;
}

.Blog-Entries .contener .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 60%;
}

.Blog-Entries .contener .content .box {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
}

.Blog-Entries .contener .content .box img {
    width: 100%;
}

.Blog-Entries .contener .content .box h4 {
    text-align: center;
}

.Blog-Entries .contener .content .box p {
    text-align: center;
    color: #777;
    font-size: smaller;
    line-height: 1.4;
}

.Blog-Entries .contener .content .box a {
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: #673AB7;
    margin: 10px auto;
    color: white;
    font-size: smaller;
    border-radius: 20px;
    padding-top: 7px;
}

.Blog-Entries .contener .content .box a:hover {
    background-color: red;
    cursor: pointer;
}

@media(max-width:750px) {

    .Blog-Entries .contener .content .box {
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;
        display: block;
    }

    .Blog-Entries .contener .content .box a {
        display: block;
        margin-top: 20px;
    }

    .Blog-Entries .contener .content .box p {
        margin: 10px 5px;
        line-height: 1.5;
    }

    .Blog-Entries .contener .content .box h4 {
        margin: 20px auto;
    }

    .Blog-Entries .contener .content .box .img {
        display: flex;
        justify-content: center;
    }

    .Blog-Entries .contener .content .box img {
        width: 75%;
    }
}

/*end  Blog-Entries */
/* ===================================================================================================== */
/* start  Contact-Us*/
.Contact-Us {
    width: 100%;
    height: fit-content;
    background-color: aliceblue;
}

.Contact-Us .contener .sub-header {
    padding-top: 50px;
}

.Contact-Us .contener .sub-header p {
    color: #757575;
}

.Contact-Us .contener .content {
    width: 100%;
    height: fit-content;
    display: flex;
}

.Contact-Us .contener .content .info {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #757575;
    padding-right: 10px;
}

.Contact-Us .contener .content .form :first-child,
.Contact-Us .contener .content .form :nth-child(2) {
    width: 47%;
    border-radius: 15px;
    padding-left: 10px;
    height: 35px;
    border: none;
    font-size: smaller;
    font-weight: lighter;
}

.Contact-Us .contener .content .form :nth-child(2) {
    margin-left: 20px;
}

.Contact-Us .contener .content .form textarea {
    width: 100%;
    margin: 20px auto;
    border: none;
    border-radius: 15px;
    font-size: smaller;
    font-weight: lighter;
    height: 150px;
    padding: 10px;
    resize: none;
    margin-left: 5px;
}

.Contact-Us .contener .content .form .submit input {
    width: 135px;
    height: 30px;
    background-color: #673AB7;
    color: white;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    border-radius: 20px;
    margin-left: 5px;
    border: none;
    padding-right: 10px;
}

.Contact-Us .contener .content .form .submit input:hover {
    background-color: red;
}

.Contact-Us .contener .content .form :first-child:focus,
.Contact-Us .contener .content .form :nth-child(2):focus,
.Contact-Us .contener .content .form textarea:focus {
    outline: 2px solid #42A5F5;
}

.Contact-Us .contener .content .info h3 {
    color: black;
    margin-bottom: 20px;
}

.Contact-Us .contener .content .info span {
    margin-bottom: 5px;
    font-size: smaller;
    font-weight: lighter;
}

.Contact-Us .contener .content .info p {
    margin-top: 20px;
    line-height: 1.3;
    font-size: smaller;
    font-weight: lighter;
}

@media(max-width:850px) {

    .Contact-Us .contener .content .form :first-child {
        width: 100%;
        margin-bottom: 20px;
    }

    .Contact-Us .contener .content .form :nth-child(2) {
        width: 100%;
        margin-left: 0;
    }
}

@media(max-width:700px) {

    .Contact-Us .contener .content {
        flex-direction: column;
    }

    .Contact-Us .contener .content .info {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* end contact us */
/* ===================================================================================================== */
/* start footer */
.footer {
    width: 100%;
    height: 20vh;
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
}

.footer .contener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

.footer .contener .icon {
    text-align: center;
    display: flex;
    justify-content: center;
    height: fit-content;
    position: relative;
    margin-bottom: 10px;
}

.footer .contener .icon::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #a6a4a4;
    position: absolute;
    bottom: -100%;
}

.footer .contener .icon i {
    color: white;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
    height: fit-content;
}

.footer .contener .icon i:hover {
    color: #673AB7;
}

.footer .contener div:last-child {
    height: 40%;
    font-size: smaller;
    color: white;
    text-align: center;
    padding-top: 20px;
}

@media(max-width:600px) {
    .footer .contener .icon i {
        font-size: 20px;
    }
}

@media(max-width:400px) {
    .footer .contener div:last-child {
        font-size: 10px
    }
}

/* end footer */